body {
  background-color: #F8F9FA;
}

p {
  color: #343A40 ;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #000000 ;
}

li {
  float: left;
  font-family: Arial, Helvetica, sans-serif;
}

b {
  color: #000000 ;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li a {
  display: block;
  color: #F8F9FA;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #7E4EAC;
}

.center {
  text-align: center;
}
